<h4>Lista de Solicitudes Eliminadas</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Motivo</th>
            <th scope="col">Código</th>
            <th scope="col">Usuario Solicitante</th>
            <th scope="col">Usuairo Eliminador</th>
            <th scope="col">Detalle</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-light">
            <td>dd/mm/aa</td>
            <td>Lorem</td>
            <td>999999</td>
            <td>Usuario1</td>
            <td>Usuario2</td>
            <td>Se eliminó por...</td>
        </tr>
    </tbody>
</table>
